/* style.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  padding: 20px;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
  margin-bottom: 50px;
}

form {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

form input[type="number"],
form input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button-group button {
  flex: 1;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-group button:not(:last-child) {
  margin-right: 10px;
}

a {
  display: block;
  text-align: center;
  margin-top: 40px;
}

footer {
  text-align: center;
  margin-top: 40px;
  padding: 10px;
  background-color: #f1f1f1;
}

footer p {
  margin: 0;
}
